<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Okta Authentication</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Hello, <%= userName %></p>
    <p>
      <!-- Logout Button -->
      <a href="/logout">
        <button type="button">Logout</button>
      </a>
    </p>
  </body>
</html>
